@import url("https://fonts.googleapis.com/css2?family=Metrophobic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,100;1,200;1,300;1,400&family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: #323232;
  max-width: 1280px;
  margin: 0 auto;
}

header .logo img {
  width: 23.5rem;
}

.hero-section {
  margin-top: -4px;
}
.hero-section .hero-image img {
  width: 23.5rem;
}

.body-text-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;
}
.body-text-section h1 {
  font-family: roboto;
  font-weight: bold;
  font-size: 1.5rem;
  color: #63F700;
}
.body-text-section p {
  font-family: roboto;
  font-weight: 100;
  font-size: 0.9rem;
  color: #c4c4c4;
}
.body-text-section p span {
  font-size: 1rem;
  color: #63F700;
}
.body-text-section .claim {
  border: none;
  border-radius: 5rem;
  height: 2rem;
  width: 20rem;
  background: yellow;
  margin-bottom: 1rem;
}
.body-text-section .claim a {
  text-decoration: none;
  font-family: roboto;
  font-weight: bold;
  color: black;
}
.body-text-section .claim a:hover {
  color: #747070;
}

.footer1 {
  margin-left: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.footer1 p {
  font-family: roboto;
  font-weight: 100;
  font-size: 0.7rem;
  color: #747070;
}

.footer2 {
  display: flex;
  align-items: center;
  background: #63F700;
  justify-content: center;
  gap: 0.7rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}
.footer2 a {
  text-decoration: none;
  font-family: roboto;
  font-weight: 100;
  font-size: 0.5rem;
  color: black;
}
.footer2 a:hover {
  color: white;
}

.app-goog {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
}
.app-goog img {
  height: 2rem;
}

.footer3 img {
  height: 2.78rem;
}

@media only screen and (min-width: 375px) {
  .hero-section .hero-image img {
    width: 23.5rem;
  }
  .footer3 img {
    height: 2.73rem;
  }
  .footer2 {
    gap: 0.8rem;
  }
  .footer1 {
    margin-left: 0.5rem;
  }
}
@media only screen and (min-width: 390px) {
  .footer1 {
    margin-left: 0.4rem;
  }
  .hero-section .hero-image img {
    width: 25rem;
  }
  .footer2 {
    gap: 0.4rem;
  }
  .footer2 a {
    font-size: 0.65rem;
  }
  .footer3 img {
    height: 2.9rem;
  }
}
@media only screen and (min-width: 400px) {
  .footer1 {
    margin-left: 0.4rem;
  }
  .hero-section .hero-image img {
    width: 26rem;
  }
  .footer2 {
    gap: 0.5rem;
  }
  .footer2 a {
    font-size: 0.6rem;
  }
  .footer3 img {
    height: 3.01rem;
  }
}
@media only screen and (min-width: 430px) {
  .footer1 {
    margin-left: 0.4rem;
  }
  .hero-section .hero-image img {
    width: 27rem;
  }
  .footer2 {
    gap: 0.45rem;
  }
  .footer2 a {
    font-size: 0.7rem;
  }
  .footer3 {
    padding-top: 2rem;
  }
  .footer3 img {
    height: 3.15rem;
  }
}
@media only screen and (min-width: 768px) {
  header .logo img {
    width: 25rem;
  }
  .body-text-section h1 {
    font-size: 1.5rem;
  }
  .body-text-section p {
    font-size: 1rem;
  }
  .body-text-section p span {
    font-size: 1.1rem;
  }
  .body-text-section .claim {
    height: 2rem;
    width: 18rem;
  }
  .body-text-section .claim a {
    font-size: 1.3rem;
  }
  .footer1 {
    margin-left: 1rem;
  }
  .footer1 p {
    font-size: 1.1rem;
  }
  .hero-section .hero-image img {
    width: 48rem;
  }
  .footer2 {
    gap: 1.9rem;
  }
  .footer2 a {
    font-size: 1rem;
  }
  .footer3 {
    padding-top: 2rem;
  }
  .footer3 img {
    height: 5.6rem;
  }
  .app-goog img {
    height: 3.5rem;
  }
}
@media only screen and (min-width: 820px) {
  header .logo img {
    width: 40rem;
  }
  .body-text-section h1 {
    font-size: 2.5rem;
  }
  .body-text-section p {
    font-size: 1.5rem;
  }
  .body-text-section p span {
    font-size: 1.6rem;
  }
  .body-text-section .claim {
    height: 4rem;
    width: 25rem;
  }
  .body-text-section .claim a {
    font-size: 1.7rem;
  }
  .footer1 {
    margin-left: 1.5rem;
  }
  .footer1 p {
    font-size: 1.1rem;
  }
  .hero-section .hero-image img {
    width: 56rem;
  }
  .footer2 {
    gap: 2rem;
  }
  .footer2 a {
    font-size: 1rem;
  }
  .footer3 {
    padding-top: 2rem;
  }
  .footer3 img {
    height: 6rem;
  }
  .app-goog img {
    height: 3.7rem;
  }
}
@media only screen and (min-width: 1024px) {
  header .logo img {
    width: 50rem;
  }
  .body-text-section h1 {
    font-size: 3.5rem;
  }
  .body-text-section p {
    font-size: 2rem;
  }
  .body-text-section p span {
    font-size: 2.1rem;
  }
  .body-text-section .claim {
    height: 5rem;
    width: 27rem;
  }
  .body-text-section .claim a {
    font-size: 1.7rem;
  }
  .footer1 {
    margin-left: 1.7rem;
  }
  .footer1 p {
    font-size: 1.3rem;
  }
  .hero-section .hero-image img {
    width: 70rem;
  }
  .footer2 {
    gap: 2rem;
  }
  .footer2 a {
    font-size: 1.4rem;
  }
  .footer3 {
    padding-top: 2rem;
  }
  .footer3 img {
    height: 7.4rem;
  }
  .app-goog img {
    height: 5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-section .hero-image img {
    width: 90rem;
  }
  .footer3 {
    padding-top: 2rem;
  }
  .footer3 img {
    height: 9.3rem;
  }
  .footer2 {
    gap: 2rem;
  }
  .footer2 a {
    font-size: 2rem;
  }
}/*# sourceMappingURL=style.css.map */